<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{views/fragment/head :: setHeader('Пользователи')}"></head>

<body onload="loadUser()">

<span th:replace="~{views/fragment/topmenu}"></span>

<!--- start -->
<div class="container-fluid">
    <div class="row">

        <nav th:replace="~{views/fragment/leftmenu}"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Пользователь</h1>
            </div>

            <div class="table-responsive">

                <form id="edit-form" action="views/user/edit.html" th:method="post">
                    <div class="form-group">
                        <label for="id-input">ID:</label>
                        <input id="id-input" class="form-control" type="text" readonly="readonly" name="id" th:value="*{id}" value="1"/>
                    </div>

                    <div class="form-group">
                        <label for="username-input">Username:</label>
                        <input id="username-input"
                               class="form-control"
                               name="username"
                               type="text"
                               value="Username"
                        />
                    </div>

                    <div class="form-group">
                        <label for="lastname-input">Фамилия:</label>
                        <input id="lastname-input"
                               class="form-control"
                               name="lastname"
                               type="text"
                               value="Фамилия"
                               />
                    </div>

                    <div class="form-group">
                        <label for="firstname-input">Имя:</label>
                        <input id="firstname-input"
                               class="form-control"
                               name="firstname"
                               type="text"
                               value="Имя"
                        />
                    </div>

                    <div class="form-group">
                        <label for="middlename-input">Отчество:</label>
                        <input id="middlename-input"
                               class="form-control"
                               name="middlename"
                               type="text"
                               value="Отчество"
                        />
                    </div>

                    <div class="form-group">
                        <label for="roleId">Роли* :</label>
                        <select size="10" name="roleId" id="roleId" class="form-control" multiple>
                            <option th:value="0" th:disabled="disabled" label="-- Выберите роли --" th:selected="selected"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="phone-input">Телефон:</label>
                        <input id="phone-input"
                               class="form-control"
                               name="phone"
                               type="text"
                               value="Телефон"
                        />
                    </div>

                    <div class="form-group">
                        <label for="email-input">E-Mail:</label>
                        <input id="email-input"
                               class="form-control"
                               name="email"
                               type="text"
                               value="E-Mail"
                        />
                    </div>

                    <button type="button" class="btn btn-primary"  onclick="saveUser()">Сохранить</button>
                    <a class="btn btn-secondary" href="views/user/index.html" th:href="@{/user}">
                        Отменить
                    </a>
                </form>

            </div>
        </main>
    </div>
</div>
<!-- end -->

<footer th:insert="~{views/fragment/footer}"></footer>

</body>
</html>
