<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список жанров</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://unpkg.com/can-ndjson-stream@0.1.6/dist/global/can-ndjson-stream.js"></script>
    <script th:src="@{/js/script.js}" type="text/javascript"></script>
</head>

<body onload="showGenres()">

<h3>Жанры</h3>

<div class="navigation">
    <a th:href="@{/}" href="index.html">Главная</a> |
    <a th:href="@{/genre/create}" href="gview/genre/edit.html">Создать жанр</a>
</div>

<div id = "errors-msg" class="errors"></div>

<table class="items">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th colspan="2">Действие</th>
    </tr>
    </thead>
    <tbody id="table-items">
    </tbody>
</table>

<footer th:insert="~{views/fragment/footer}"></footer>
</body>
</html>
