<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{views/fragment/head :: setHeader('Преподаватели')}"></head>

<body onload="loadTeacher()">

<span th:replace="~{views/fragment/topmenu}"></span>

<!--- start -->
<div class="container-fluid">
    <div class="row">

        <nav th:replace="~{views/fragment/leftmenu}"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Преподаватель</h1>
            </div>

            <div class="table-responsive">

                <form id="edit-form" action="views/teacher/edit.html" th:method="post">
                    <div class="form-group">
                        <label for="id-input">ID:</label>
                        <input id="id-input" class="form-control" type="text" readonly="readonly" name="id" th:value="*{id}" value="1"/>
                    </div>

                    <div class="form-group">
                        <label for="teacher-lastname-input">Фамилия:</label>
                        <input id="teacher-lastname-input"
                               class="form-control"
                               name="lastname"
                               type="text"
                               value="Фамилия"
                               />
                    </div>

                    <div class="form-group">
                        <label for="teacher-firstname-input">Имя:</label>
                        <input id="teacher-firstname-input"
                               class="form-control"
                               name="firstname"
                               type="text"
                               value="Имя"
                        />
                    </div>

                    <div class="form-group">
                        <label for="teacher-middlename-input">Отчество:</label>
                        <input id="teacher-middlename-input"
                               class="form-control"
                               name="middlename"
                               type="text"
                               value="Отчество"
                        />
                    </div>

                    <div class="form-group">
                        <label for="teacher-nickname-input">Nickname:</label>
                        <input id="teacher-nickname-input"
                               class="form-control"
                               name="nickname"
                               type="text"
                               value="Nickname"
                        />
                    </div>

                    <div class="form-group">
                        <label for="teacher-phone-input">Телефон:</label>
                        <input id="teacher-phone-input"
                               class="form-control"
                               name="phone"
                               type="text"
                               value="Телефон"
                        />
                    </div>

                    <div class="form-group">
                        <label for="teacher-email-input">E-Mail:</label>
                        <input id="teacher-email-input"
                               class="form-control"
                               name="email"
                               type="text"
                               value="E-Mail"
                        />
                    </div>

                    <div class="form-group">
                        <label for="teacher-info-input">Описание</label>
                        <textarea id="teacher-info-input"  class="form-control" name="info" rows="5"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary"  onclick="saveTeacher()">Сохранить</button>
                    <a class="btn btn-secondary" href="views/teacher/index.html" th:href="@{/teacher}">
                        Отменить
                    </a>
                </form>

            </div>
        </main>
    </div>
</div>
<!-- end -->

<footer th:insert="~{views/fragment/footer}"></footer>

</body>
</html>
